In [34]:
import pandas as pd
import numpy as np
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

In [7]:
spark = SparkSession.builder.appName("Sandbox").getOrCreate()

In [20]:
df = spark.read.csv("zipcodes.csv", header=True, inferSchema=True)
df.show(3)

+------------+-------+-----------+-------------------+-----+--------------+-----+------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-----+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|  Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|Notes|
+------------+-------+-----------+-------------------+-----+--------------+-----+------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-----+
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96|-66.22| 0.38|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        false|           null|               null|      null| null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96|-66.22| 0.38|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        false|           null|               null|      null| null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14|-66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null| null|
+------------+-------+-----------+-------------------+-----+--------------+-----+------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-----+
only showing top 3 rows

In [21]:
df.printSchema()

root
 |-- RecordNumber: integer (nullable = true)
 |-- Zipcode: integer (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Long: double (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- TaxReturnsFiled: integer (nullable = true)
 |-- EstimatedPopulation: integer (nullable = true)
 |-- TotalWages: integer (nullable = true)
 |-- Notes: string (nullable = true)

In [22]:
df.head()

Row(RecordNumber=1, Zipcode=704, ZipCodeType='STANDARD', City='PARC PARQUE', State='PR', LocationType='NOT ACCEPTABLE', Lat=17.96, Long=-66.22, Xaxis=0.38, Yaxis=-0.87, Zaxis=0.3, WorldRegion='NA', Country='US', LocationText='Parc Parque, PR', Location='NA-US-PR-PARC PARQUE', Decommisioned=False, TaxReturnsFiled=None, EstimatedPopulation=None, TotalWages=None, Notes=None)

In [36]:
df.groupBy('State').count().sort(f.desc('count')).show(10)

+-----+-----+
|State|count|
+-----+-----+
|   PR|    6|
|   FL|    4|
|   AL|    3|
|   NC|    3|
|   TX|    3|
|   AZ|    2|
+-----+-----+

In [ ]:
df.createOrReplaceTempView('zipcodes')
spark.sql('select distinct Country from zipcodes').show()

+-------+
|Country|
+-------+
|     US|
+-------+

In [ ]:
df = df.drop('Notes')

In [ ]:
df.na.drop(subset=['TotalWages']).show()

+------------+-------+-----------+-----------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+---------------+--------------------+-------------+---------------+-------------------+----------+
|RecordNumber|Zipcode|ZipCodeType|       City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|   LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|
+------------+-------+-----------+-----------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+---------------+--------------------+-------------+---------------+-------------------+----------+
|       61392|  76177|   STANDARD| FORT WORTH|   TX|       PRIMARY|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US| Fort Worth, TX| NA-US-TX-FORT WORTH|        false|           2126|               4053| 122396986|
|       61393|  76177|   STANDARD|   FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|   Ft Worth, TX|   NA-US-TX-FT WORTH|        false|           2126|               4053| 122396986|
|       39827|  85209|   STANDARD|       MESA|   AZ|       PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|       Mesa, AZ|       NA-US-AZ-MESA|        false|          14962|              26883| 563792730|
|       39828|  85210|   STANDARD|       MESA|   AZ|       PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|       Mesa, AZ|       NA-US-AZ-MESA|        false|          14374|              25446| 471000465|
|       49345|  32046|   STANDARD|   HILLIARD|   FL|       PRIMARY|30.69| -81.92| 0.12|-0.85| 0.51|         NA|     US|   Hilliard, FL|   NA-US-FL-HILLIARD|        false|           3922|               7443| 133112149|
|       49347|  32564|   STANDARD|       HOLT|   FL|       PRIMARY|30.72| -86.67| 0.04|-0.85| 0.51|         NA|     US|       Holt, FL|       NA-US-FL-HOLT|        false|           1207|               2190|  36395913|
|       54355|  35146|   STANDARD|SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| 0.05|-0.82| 0.55|         NA|     US|Springville, AL|NA-US-AL-SPRINGVILLE|        false|           4046|               7845| 172127599|
|       54356|  35585|   STANDARD|SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| 0.03|-0.82| 0.56|         NA|     US|Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        false|            610|               1209|  18525517|
|       76511|  27007|   STANDARD|   ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| 0.13|-0.79| 0.59|         NA|     US|   Ash Hill, NC|   NA-US-NC-ASH HILL|        false|            842|               1666|  28876493|
|       76512|  27203|   STANDARD|   ASHEBORO|   NC|       PRIMARY|35.71| -79.81| 0.14|-0.79| 0.58|         NA|     US|   Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           8355|              15228| 215474318|
|       76513|  27204|     PO BOX|   ASHEBORO|   NC|       PRIMARY|35.71| -79.81| 0.14|-0.79| 0.58|         NA|     US|   Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           1035|               1816|  30322473|
+------------+-------+-----------+-----------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+---------------+--------------------+-------------+---------------+-------------------+----------+

In [102]:
df_population = df.na.drop(subset=['EstimatedPopulation'])
# df_population.show(10)
# df_population.groupBy('State').sum('EstimatedPopulation')["sum(EstimatedPopulation)"]
df_grouped = df_population.groupBy('State').agg(f.sum('EstimatedPopulation').alias('sum_population'),f.sum('TotalWages').alias('sum_wages')).withColumn('Wage/Person', f.col('sum_wages')/f.col('sum_population')).sort(f.desc('Wage/Person'))
df_grouped.show()
# df_population.withColumn('StatePopulation',df_population.groupBy('State').agg(f.sum('EstimatedPopulation').alias('sum_population'))['sum_population'])
# df_population.withColumn('StatePopulation',df_grouped)
# .select(['State','StatePopulation'])

+-----+--------------+----------+------------------+
|State|sum_population| sum_wages|       Wage/Person|
+-----+--------------+----------+------------------+
|   TX|          8106| 244793972| 30199.10831482852|
|   AL|          9054| 190653116|21057.335542301746|
|   AZ|         52329|1034793195| 19774.75577595597|
|   FL|          9633| 169508062| 17596.60147409945|
|   NC|         18710| 274673284|14680.560342063069|
+-----+--------------+----------+------------------+

In [ ]:
df.na.drop(subset=['Zipcode','Lat','Long']).show()

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        false|           null|               null|      null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        false|           null|               null|      null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| -0.1|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        false|           null|               null|      null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        false|           2126|               4053| 122396986|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| -0.1|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        false|           2126|               4053| 122396986|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        false|           null|               null|      null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14962|              26883| 563792730|
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14374|              25446| 471000465|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| 0.12|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        false|           3922|               7443| 133112149|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| 0.11|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        false|           null|               null|      null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| 0.04|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        false|           1207|               2190|  36395913|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| 0.11|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        false|           null|               null|      null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| 0.38|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| 0.38|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        false|           null|               null|      null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| 0.06|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        false|           null|               null|      null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| 0.05|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        false|           4046|               7845| 172127599|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| 0.03|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        false|            610|               1209|  18525517|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| 0.13|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        false|            842|               1666|  28876493|
|       76512|  27203|   STANDARD|           ASHEBORO|   NC|       PRIMARY|35.71| -79.81| 0.14|-0.79| 0.58|         NA|     US|        Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           8355|              15228| 215474318|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+
only showing top 20 rows

In [103]:
df.filter('Long < -100.0').show()

+------------+-------+-----------+----+-----+------------+-----+-------+-----+-----+-----+-----------+-------+------------+-------------+-------------+---------------+-------------------+----------+
|RecordNumber|Zipcode|ZipCodeType|City|State|LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|LocationText|     Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|
+------------+-------+-----------+----+-----+------------+-----+-------+-----+-----+-----+-----------+-------+------------+-------------+-------------+---------------+-------------------+----------+
|       39827|  85209|   STANDARD|MESA|   AZ|     PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|    Mesa, AZ|NA-US-AZ-MESA|        false|          14962|              26883| 563792730|
|       39828|  85210|   STANDARD|MESA|   AZ|     PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|    Mesa, AZ|NA-US-AZ-MESA|        false|          14374|              25446| 471000465|
+------------+-------+-----------+----+-----+------------+-----+-------+-----+-----+-----+-----------+-------+------------+-------------+-------------+---------------+-------------------+----------+

In [106]:
df.filter( (f.col('Lat') > 40.0) | (f.col('Long') < -100.0) ).show()

+------------+-------+-----------+----+-----+------------+-----+-------+-----+-----+-----+-----------+-------+------------+-------------+-------------+---------------+-------------------+----------+
|RecordNumber|Zipcode|ZipCodeType|City|State|LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|LocationText|     Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|
+------------+-------+-----------+----+-----+------------+-----+-------+-----+-----+-----+-----------+-------+------------+-------------+-------------+---------------+-------------------+----------+
|       39827|  85209|   STANDARD|MESA|   AZ|     PRIMARY|33.37|-111.64| -0.3|-0.77| 0.55|         NA|     US|    Mesa, AZ|NA-US-AZ-MESA|        false|          14962|              26883| 563792730|
|       39828|  85210|   STANDARD|MESA|   AZ|     PRIMARY|33.38|-111.84|-0.31|-0.77| 0.55|         NA|     US|    Mesa, AZ|NA-US-AZ-MESA|        false|          14374|              25446| 471000465|
+------------+-------+-----------+----+-----+------------+-----+-------+-----+-----+-----+-----------+-------+------------+-------------+-------------+---------------+-------------------+----------+